body, ul, li, h1, h2, h3{
	margin:0;
	padding:0;
}

a.pd_next_photo,
a.pd_loading{
	z-index:999999;
	cursor:pointer;
	border:1px solid #aaa;
	width:50px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	opacity:0.8;
	margin:-25px 0px 0px -25px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
a.pd_loading{
	display:none;
	background:#B8B8B8 url(../images/loading.gif) no-repeat 50% 50%;
}
a.pd_next_photo{
	background:#B8B8B8 url(../images/next.png) no-repeat 50% 50%;
}
a.pd_next_photo:hover,
a.pd_loading:hover{
	opacity:0.5;
}
.pd_options_bar {
margin: auto;
width: 880px;
}
.pd_options_bar a.viewall,
.pd_options_bar a.shuffle,
.pd_options_bar a.backdesk,
.pd_options_bar a.hi,
.pd_options_bar a.talk
{
	height: 70px;
	top:0px;
	float:right;
	background:url(../images/ok.png);
}
.pd_options_bar a.hi{
background-position:0px 0px;
width: 220px;
}
.pd_options_bar a.talk{
width: 220px;
background-position-x:-220px;
}
.pd_options_bar a.viewall{
width: 220px;
background-position-x:-660px;
}
.pd_options_bar a.backdesk{
width:220px;
background-position-x:-880px;
}
.pd_options_bar a.shuffle{
width: 220px;
background-position-x:-440px;
}




.pd_options_bar a.talk:hover,

.pd_options_bar a.viewall:hover,
.pd_options_bar a.shuffle:hover,
.pd_options_bar a.backdesk:hover
{
	opacity:0.5;

}
.pd_container{
	position:absolute;
	top:130px;
	bottom:50px;
	right:50px;
	left:50px;
}
.pd_photo{
	position:absolute;
	z-index:10;
	border:7px solid #f9f9f9;
	border-bottom:28px solid #f9f9f9;
	width:199px;
	height:300px;
	top:0px;
	left:0px;
	display:none;
	-moz-box-shadow:1px 1px 5px #555;
	-webkit-box-shadow:1px 1px 5px #555;
	box-shadow:1px 1px 5px #555;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.pd_photo img{
	width:199px;
	height:300px;
}
.pd_photo span.delete{
	position:absolute;
	width:16px;
	height:16px;
	right:-16px;
	top:2px;
	cursor:pointer;
	background:#fff url(../images/close.png) no-repeat center center;
	-moz-border-radius:0px 8px 8px 0px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	-moz-box-shadow:1px 1px 5px #555;
	-webkit-box-shadow:1px 1px 5px #555;
	box-shadow:1px 1px 5px #555;
}
.pd_paperball{
	background:transparent url(../images/paperball.png) no-repeat center center;
	position:absolute;
}